/* regole generali pagina  */
*{
    margin: 0;
    
    box-sizing: border-box;
}

body{
    background-color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* regole header  */

header{
    width: 100%;
    height: 100px;
    background-color: white;

} 

#img{
    width: 80px;
    line-height: 80px;
    vertical-align: middle;


}

#text-logo{
    display: inline-block;
    font-size: 60px;
    font-weight: 800;
    line-height: 60px;
    vertical-align: middle;
    
}

/* regole main */

#contenitore{
    margin: 10% auto 5% ;
    width: 80%;
    height: 100vh ;
    background-color: white;
}



/* regole section all */

.section{
    margin-top: 40px;
}

#all-button{
    width: 100%;
    height: 50px;
    border-bottom: solid aliceblue;
    border-spacing: 0;

    
}

.button {
    border: solid 2px lightgrey;
    border-radius: 5px;
    color: lightgrey;
    font-size: 12px;
    height: 30px;
    width: 100px;
    line-height: 30px;
    vertical-align: middle;
    
}

.blue{
  
    background-color: #007fff;
    color: white;
}


.first-row{
    font-weight: 800;
    color: rgba(20, 19, 19, 0.77);
    

}

.row{
   font-size: small;
    color: rgba(20, 19, 19, 0.77);
    margin-top: 15px;

}

.arrow{
    display: inline-block;
    transform: rotate(90deg);
    font-size: 18px;
}
.emoticon{
    font-size: 12px;
    border: 1px solid green;
    border-radius: 50%;
    padding: 1px 2px;
    color: green;
}

.editorial{
    display: inline-block;
    width: 65px;
    height: 25px;
    border-radius: 10px;
    background-color: #007fff;
    background-size: auto;
    color: white;
    text-align: center;
    font-size: 9px;
    line-height: 25px;
    vertical-align: middle;
    text-align: center;
    border-radius: 10px;
    margin-left: 3px;

}

.grey{
    background-color: grey;
}

.orange{
    background-color: orange;
}

